
/* Tablet */

@media (max-width: 1200px) {
  .hero p {
    font-size: 1.45rem;
  }
  .indexContent {
    padding: 3rem 3rem;
  }
}

/* Phone */
@media (max-width: 600px) {
  .hero p {
    font-size: 1.25rem;
  }
  .indexContent {
    padding: 2rem 1.5rem;
  }
}
