
.title {
  position: relative;
  margin-bottom: 0;
  text-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

.title a {
  color: hsla(0, 0%, 0%, 0.8);
}

.title a:hover {
  color: #d02e77;
}

.date {
  margin-bottom: 0;
  text-align: left;
}