.title {
  position: relative;
  margin-bottom: 0;
}

/*.title a {
  color: hsla(0, 0%, 0%, 1.0);
}*/

/*.title a:hover {
  color: #d02e77;
}*/

.date {
  margin-bottom: 0;
  text-align: left;
}